src/main/resources/our.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="age">
        <xs:simpleType>
            <xs:restriction base="xs:byte">
                <xs:enumeration value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="compamy">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="VTB"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="description">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="generate json schema using specific software"/>
                <xs:enumeration value="generate xsd schema using specific software"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="firstName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="John"/>
                <xs:enumeration value="Katy"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="gender">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="FEMALE"/>
                <xs:enumeration value="MALE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="group">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="intern" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="id">
        <xs:simpleType>
            <xs:restriction base="xs:short">
                <xs:enumeration value="11"/>
                <xs:enumeration value="15"/>
                <xs:enumeration value="2201"/>
                <xs:enumeration value="2202"/>
                <xs:enumeration value="333"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="intern">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="firstName"/>
                <xs:element ref="lastName"/>
                <xs:element ref="age"/>
                <xs:element ref="gender"/>
                <xs:element ref="compamy"/>
                <xs:element ref="skill" maxOccurs="unbounded"/>
                <xs:element ref="task"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lastName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Perry"/>
                <xs:enumeration value="Statham"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="name">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Generate JSON"/>
                <xs:enumeration value="Generate XSD"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="skill">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="devops"/>
                <xs:enumeration value="go"/>
                <xs:enumeration value="java"/>
                <xs:enumeration value="maven"/>
                <xs:enumeration value="sql"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="task">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="name"/>
                <xs:element ref="description"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
