src/main/resources/our.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedShort"/>
                            <xs:element name="intern" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:unsignedShort"/>
                                        <xs:element name="firstName" type="xs:string"/>
                                        <xs:element name="lastName" type="xs:string"/>
                                        <xs:element name="age" type="xs:unsignedByte"/>
                                        <xs:element name="gender" type="xs:string"/>
                                        <xs:element name="compamy" type="xs:string"/>
                                        <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
                                        <xs:element name="task">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:unsignedByte"/>
                                                    <xs:element name="name" type="xs:string"/>
                                                    <xs:element name="description" type="xs:string"/>
                                                    <xs:element name="tag" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="id" type="xs:unsignedShort"/>
                                                                <xs:element name="name" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
